<div class="vw-100 vh-100">
    <div class="w-100 h-100">
        <div id="barra-lateral" class="d-flex align-items-center">
            <div id="user-div" class="d-flex justify-content-center align-items-center">
                <img id="userimg" src="../../../assets/img/UserImg.png" alt="UserImg">
            </div>
            <div id="logo-div" class="d-flex justify-content-center align-items-center">
                <img id="logoimg" src="../../../assets/img/LogoBD.png" alt="LogImg">
            </div>
        </div>
        <div id="contenido-chat-div" class="d-flex justify-content-center align-items-center">
            <!-- Contenido del div derecho -->
            <div id="chat-div">
                <!-- Contenido del chat -->
                <div id="header" class="h-25 w-100">
                    <div class="h-50 w-100 d-flex align-items-end px-5">
                        <h2>**Nombre del curso**</h2>
                    </div>
                    <hr style="width: 95%; margin: auto;">
                    <div class="h-25 w-100 d-flex justify-content-center align-items-end px-5">
                        <h3>Alumnos</h3>
                    </div>
                </div>
                <div id="alumnos" class="w-100 d-flex justify-content-center align-items-center">
                    <app-lista-alumnos></app-lista-alumnos>
                </div>
            </div>
        </div>
    </div>    
</div>
