<div class="vw-100 vh-100">
    <div class="w-100 h-100">
        <div id="barra-lateral" class="d-flex align-items-center">
            <div id="user-div" class="d-flex justify-content-center align-items-center">
                <img id="userimg" src="../../../assets/img/UserImg.png" alt="UserImg">
            </div>
            <div id="estadisticas-div" class="d-flex justify-content-center align-items-center">
                <img id="estadisticasimg" src="../../../assets/img/EstadisticasImg.png" alt="UserImg">
            </div>
            <div id="logo-div" class="d-flex justify-content-center align-items-center">
                <img id="logoimg" src="../../../assets/img/LogoBD.png" alt="LogImg">
            </div>
        </div>
        <div id="contenido-chat-div" class="d-flex justify-content-center align-items-center">
            <div id="chat-div"  class="d-flex justify-content-center align-items-center">
                <input id="textinput" placeholder="Escribe a STAC...">
            </div>
        </div>
    </div>    
</div>
