<div id="body" class="vw-100 vh-100 d-flex">
    <div id="side-bar" class="col-1">
        <div class="align-items-center">
            <img id="profile" class="rounded-circle" src="../../../assets/img/user_icon.png" draggable="false"/>
        </div>
        <div class="text-light">
            <hr>
        </div>
        <div class="align-items-center">
            <img id="profile" class="rounded-circle" src="../../../assets/img/stats_icon.jpg" draggable="false"/>
        </div>
        <div class="text-light">
            <hr>
        </div>
        <div class="text-light">
            <hr>
        </div>
        <img id="logo" class="mx-2" src="../../../assets/img/LogoBD.png" draggable="false"/>
    </div>
    <div id="content" class="col-11">

    </div>
</div>
