
#entrada:hover{
    cursor: text;
    pointer-events: none;
}

#barra-lateral {
    background: rgb(33, 34, 49);
    border-style: solid;
    border-color: black;
    border-width: 3px 0px 3px 3px;
    width: 10%;
    height: 100%;
    float: left;
    display: flex;
    flex-direction: column;
}

#contenido-chat-div {
    background: rgb(85, 97, 141);
    border-style: solid;
    border-color: black;
    border-width: 3px;
    width: 90%;
    height: 100%;
    float: right;
}

#chat-div {
    background: rgb(255, 255, 255);
    border-radius: 25px;
    border-style: solid;
    border-color: black;
    border-width: 4px;
    width: 95%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#user-div {
    border-bottom: solid;
    border-color: white;
    border-width: 1px;
    width: 50%;
    height: 10%;
    margin-top: 20%;
}

#userimg {
    width: 90%;
    padding-bottom: 20%;
}

#estadisticas-div {
    border-bottom: solid;
    border-color: white;
    border-width: 1px;
    width: 50%;
    height: 10%;
    display: block;
    margin-top: 20%;
}

.fecha-chat {
    font-weight: bold;
    font-size: large;
    margin-bottom: 0;
}

#estadisticasimg {
    width: 90%;
    padding-bottom: 20%;
}

#logo-div {
    border-top: solid;
    border-color: white;
    border-width: 1px;
    width: 53%;
    height: 12%;
    display: block;
    margin-bottom: 10%;
    margin-top: auto;
}

#logoimg {
    width: 90%;
    padding-top: 20%;
}

#chat-scroll {
    margin-top: 1%;
    width: 80%;
    overflow-y: auto;
}

.fecha {
    font-family: "Titan One";
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.mensaje_usuario {
    text-align: right;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: baseline;
    column-gap: 1%;
}

.hora {
    text-align: right;
    font-size: smaller;
    padding-top: 1rem;
}
.info{
    width: 50%;
    text-align: end;
    height: auto;
    overflow-wrap: break-word;

}

.usuario{
    font-family: "Titan One";
}
.mensaje_bot {
    text-align: left;
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: baseline;
    column-gap: 1%;
    text-align: left;
}

.hora_bot {
    text-align: left;
    font-size: smaller;
    padding-top: 1rem;
}
.info_bot{
    width: 50%;
    text-align: start;
    height: auto;
    overflow-wrap: break-word;
    
}


.barras {
    border: 0.15rem solid black !important;
    opacity: 1;
    width: 40%
}

#entrada {
    font-size: 25px;
    font-family: "Titan One";
    margin-top: auto;
    margin-bottom: 2%;
    height: 11%;
    width: 80%;
    border: solid 0.1rem black;
    border-radius: 31px;
    padding-left: 3%;
    background: rgb(235, 230, 234);
    display: flex;
    align-content: center;
    justify-content: space-between;
}


#textinput {
    display: flex;
    align-items: center;
    background-color: rgb(235, 230, 234);
    width: 95%;
    border: none;
}

#textinput::placeholder {
    font-family: "Titan One";
    font-size: 30px;
    float: left;
    opacity: 1;
    padding-bottom: 5%;
    border: none;

}

#textinput:hover,
#textinput:focus {
    outline: none;
    box-shadow: none;
    border: none;
}

@font-face {
    font-family: 'Titan One';
    src: url("../../../assets/fonts/TitanOne-Regular.ttf");
}

#marcoEnvio {
    width: 15%;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.vertical {
    transform: rotate(90deg);
    color: black;
    width: 41%;
    margin: 0;
    border-top: 2px solid black;
}

#sendButton {
    padding-left: 0;
    width: 100%;
    background-color: transparent;
    border: none;
}