<div id="body-register" class="vw-100 vh-100 d-flex flex-column justify-content-start align-items-center pt-2">
  <div id="titulo" class="w-25 d-flex justify-content-around align-items-center text-white mb-5">
    <p>Student Thoughts<br/>Analyzer Chat</p>
  </div>
  <div id="form-container" class="w-50 border bg-light rounded-3 p-3 shadow-lg">
    <h1 class="text-center border">Crear cuenta</h1>
    <form id="form-register" class="w-100">
      <div class="d-flex px-4">
        <div class="w-50">
          <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <div class="input-contenedor">
              <input type="text" id="nombre" placeholder="Ingrese su nombre" required>
            </div>
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Correo Electrónico</label>
            <div class="input-contenedor">
              <input type="email" class="" id="email_reg" placeholder="Ingrese su email" required>
            </div>
          </div>
          <div class="mb-3">
            <label for="genero" class="form-label">Género</label><br/>
            <div class="input-contenedor">
              <select name="genero" id="genero" class="rounded px-2" required>
                <option selected disabled>Seleccione</option>
                <option value="hombre">Hombre</option>
                <option value="mujer">Mujer</option>
                <option value="otro">Otro</option>
              </select>
            </div>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <div class="input-contenedor">
              <input type="password" class="" id="password" placeholder="Ingrese su contraseña" required>
            </div>
          </div>
        </div>
        <div class="w-50">
          <div class="mb-3">
            <label for="apellidos" class="form-label">Apellidos</label>
            <div class="input-contenedor">
              <input type="text" class="" id="apellidos" placeholder="Ingrese sus apellidos" required>
            </div>
          </div>
          <div class="mb-3">
            <label for="fecha_nac" class="form-label">Fecha de nacimiento</label>
            <div class="input-contenedor">
              <input type="date" class="px-2" id="fecha_nac" min="1970-01-01" max="2024-12-31" required>
            </div>
          </div>
          <div class="mb-3">
            <label for="curso" class="form-label">Curso</label>
            <div class="input-contenedor">
              <input type="text" class="" id="curso" placeholder="Ingrese su curso" required>
            </div>
          </div>
          <div class="mb-3">
            <label for="password-2" class="form-label">Repetir contraseña</label>
            <div class="input-contenedor">
              <input type="password" class="" id="password-2" placeholder="Repita su contraseña" required>
            </div>
          </div>
        </div>
      </div>
      <button type="submit">Registrarse</button>
    </form>
  </div>
</div>