button {
    background-color:rgb(203, 178, 255);
}

.btn-close {
    background-color:white;
}

p {
    font-family:'Times New Roman', Times, serif;
}

#btn-student:hover, #btn-teacher:hover {
    background-color: rgb(143, 121, 214);
}