
@font-face {
    font-family: 'Titan One';
    src: url("../../../assets/fonts/TitanOne-Regular.ttf");
}

#body{
    background: linear-gradient(0deg, rgba(128,94,171,1) 0%, rgba(53,9,87,1) 100%);
    font-family: 'Titan One', sans-serif;
}

#side-bar {
    background: rgb(33, 34, 49);
}

#titulo {
    border-right: 1px solid white;
    border-left: 1px solid white;
}

#logo-div {
    width: 35%;
}

#logo {
    width: 60%;
}

#descripcion {
    height: 40%;
}

#footer {
    height: 15%;
}