#barra-lateral {
    background: rgb(33, 34, 49);
    border-style: solid;
    border-color: black;
    border-width: 3px 0px 3px 3px;
    width: 10%;
    height: 100%;
    float: left;
    display: flex;
    flex-direction: column;
}

#contenido-chat-div {
    background: rgb(85, 97, 141);
    border-style: solid;
    border-color: black;
    border-width: 3px;
    width: 90%;
    height: 100%;
    float: right;
}

#chat-div {
    background: rgb(255, 255, 255);
    border-radius: 25px;
    border-style: solid;
    border-color: black;
    border-width: 4px;
    width: 95%;
    height: 95%;
}

#user-div {
    border-bottom: solid;
    border-color: white;
    border-width: 1px;
    width: 50%;
    height: 10%;
    margin-top: 20%;
}

#userimg {
    width: 90%;
    padding-bottom: 20%;
}


#estadisticas-div {
    border-bottom: solid;
    border-color: white;
    border-width: 1px;
    width: 50%;
    height: 10%;
    display: block;
    margin-top: 20%;
}


#estadisticasimg {
    width: 90%;
    padding-bottom: 20%;
}


#logo-div{
    border-top: solid;
    border-color: white;
    border-width: 1px;
    width: 53%;
    height: 12%;
    display: block;
    margin-bottom: 10%;
    margin-top: auto;
}

#logoimg{
    width: 90%;
    padding-top: 20%;
}

.chart {
    border-radius: 25px;
    border-style: solid;
    border-color: black;
    border-width: 4px;
    height: 300px;
}

.card {
    width: 40%;
}

#select-class {
    width: 30%;
}
