@font-face {
  font-family: 'Titan One';
  src: url("../../../assets/fonts/TitanOne-Regular.ttf");
}

#body-home {
  background: linear-gradient(0deg, rgba(128, 94, 171, 1) 0%, rgba(53, 9, 87, 1) 100%);
  font-family: 'Titan One', sans-serif;
}

div[id=descripcion],
div[id=footer] {
  font-family: 'source sans pro';
}

div[id=descripcion] {
  margin-left: 20%;
  margin-top: 5%;
}

#titulo {
  border-right: 1px solid white;
  border-left: 1px solid white;
}

#logo-div {
  width: 35%;
}

#logo {
  width: 60%;
}

#descripcion {
  height: 40%;
}

#footer {
  height: 5%;
  margin-left: 23%;
  width: 110%;
  display: flex;
  align-items: center;
  gap: 5%;
  margin-bottom: 10%;
  font-family: 'Titan One';
  letter-spacing: 1px;
}
