<div id="body-home" class="vw-100 vh-100 d-flex align-items-center">
    <div class="row w-100 h-75 justify-content-around align-items-center">
        <div class="d-flex flex-column col-6 h-100 border border-dark rounded">
            <div class="w-100 h-25 border border-black">
                <img class="img-fluid" src="../../../assets/img/LogoBD.png" draggable="false"/>
            </div>
            <div class="w-100 h-50 border border-black">

            </div>
            <div class="w-100 h-25 border border-black">

            </div>
        </div>
        <div class="col-3 h-50">
            <app-login-component></app-login-component>
        </div>
    </div>
</div>