.student-statistics{
    width: 50px;
    /* width: 27%; */
    cursor: pointer;
    border: 1px solid black;
    border-radius: 50%;
    margin-left: 5%;
}

.student-kick {
    /* width: 27%; */
    width: 50px;
    margin-left: 5%;
    margin-right: 5%;
    border: none;
}

.barrita {
    width: 1px;
    height: 75%;
    border-left: 2px solid black !important;
}

