<div class="vw-100 vh-100">
    <div class="w-100 h-100">
        <div id="barra-lateral" class="d-flex align-items-center">
            <div id="user-div" class="d-flex justify-content-center align-items-center">
                <img (click)="profile()" id="userimg" src="../../../assets/img/UserImg.png" data-bs-toggle="modal" data-bs-target="#chooseDatosModal" alt="UserImg">
            </div>
            <div id="estadisticas-div" class="d-flex justify-content-center align-items-center">
                <img (click)="toChat()" id="estadisticasimg" src="../../../assets/img/ChatImg.png" alt="UserImg">
            </div>
            <div id="logo-div" class="d-flex justify-content-center align-items-center">
                <img id="logoimg" src="../../../assets/img/LogoBD.png" alt="LogImg">
            </div>
        </div>
        <div id="contenido-chat-div" class="d-flex justify-content-center align-items-center">
            <div id="chat-div">
                <div id="header" class="h-25 w-100">
                    <div class="row h-50 w-100 align-items-end px-5">
                        <h2 class="col-4 me-auto" style="font-family: 'Titan One';">**Nombre del Alumno**</h2>
                        <div class="col-2 me-auto">
                            <h4 style="font-family: 'Titan One';">Clase: clase</h4>
                        </div>
                    </div>
                    <hr style="width: 95%; margin: 2;">
                    <div class="DataMessage d-flex align-items-center justify-content-center">
                        <p>MENSAJE SOBRE LOS DATOS RECOGIDOS</p>
                    </div>
                    <div class="d-flex align-items-center justify-content-center" style="padding-top: 5%;">
                        <div class="row">
                            <div class="col">
                                <div class="messagePerDateChart"><canvas id="messagePerDateChart"></canvas></div>
                            </div>
                            <div class="col">
                                <div class="feelingsChart"><canvas id="feelingsChart"></canvas></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-datos-perfil></app-datos-perfil>
    </div>    
</div>
