<form class="formulario m-0" id="login-container">
    <h1>Iniciar sesión</h1>
    <div class="contenedor">
        <div class="input-contenedor">
            <input type="email" placeholder="Correo Electrónico" id = "email" name = "email" required />
        </div>
        <div class="input-contenedor">
            <input type="password" placeholder="Contraseña" id = "pwd" name = "password" required minlength="6" />
        </div>
        <input type="submit" (click)="login()" value="Acceder" id="btn-login" class="button1" />
        <p>
            ¿No tienes una cuenta?
            <button id="button" type="button" data-bs-toggle="modal" data-bs-target="#chooseRegistroModal">Registrarse</button>
        </p>
    </div>
    <app-role-register></app-role-register>
</form>