<div id="login-container" class="h-100 d-flex flex-column justify-content-around align-items-center border border-black rounded-4 shadow">
    <div class="w-75 h-50 d-flex flex-column justify-content-around align-items-center">
        <input id="email" class="w-75 rounded shadow" type="email" placeholder="Email"/>
        <input id="pwd" class="w-75 rounded shadow" type="password" placeholder="Contraseña"/>
        <button id="btn-login" type="button" class="btn border border-black shadow"><b>Iniciar Sesión</b></button>
    </div>
    <div class="h-25 d-flex align-items-center">o</div>
    <div class="h-25 d-flex align-items-center">
        <button id="btn-register" type="button" class="btn btn-secondary border border-black shadow"><b>Registrarse</b></button>
    </div>
</div>
